$serif-fonts: "IM Fell English", serif;
$main-font: sans-serif; 
$monospace-font: monospace;
$light: #f4f0fc;
$dark: #26154f;
$darkest: black;
$lightest: white;
$shadow: 1px 1px 5px black;

#login, #register {
    margin-left: 25%;
  }
body {
  font-family: $serif-fonts;
  background-color: $light;
}
#username, #email, #password, #confirmation, #submit {
    display: block;
    width: 50%;
    font-size: 20px;
  }
#about {
    font-family: $serif-fonts;
    width: 60%;
    margin: auto;

    p, li {
        font-family: $main-font;
        font-size: 20px;
    }
  }
  #small-screen {
    display: none;
  }
  
  a {
    color: $darkest;
    text-decoration: none;
    font-family: $main-font;
  }
  a:hover {
    color: $dark;
    font-weight: bold;
  }
  
  #wide-screen {
    background-color: $darkest;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: -10px;
    margin-bottom: 30px;
    box-shadow: $shadow;
  }
  
  nav a {
    color: $light;
    font-family: $serif-fonts;
    padding: 20px;
  }
  nav a:hover {
    background-color: $dark;
    color: $light;
  }
  
  nav span {
    color: $light;
    background-color: $dark;
    font-family: $main-font;
    font-size: 16px;
    padding: 20px;
  }
  @media only screen and (max-width: 600px) {
    #login, #register {
      margin: 2.5%;
    }
    #about {
      width: 95%;
    }
    nav a, nav span {
      padding: 5px;
    }
    #username, #email, #password, #confirmation, #submit {
      width: 95%;
    }
  }
  
  @media only screen and (max-width: 400px) {
    
    #wide-screen {
      display: none;
    }
    #small-screen {
      display: block;
      margin-bottom: 10px;
      padding: 5px;
      background-color: $darkest;
    }
    #small-screen select {
      width: 80%;
    }
  }